.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
}

.camera_container {
    width: 660px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid gray;
    border-radius: 10px;
}

.camera {
    border-radius: 10px;
}

.right {
    width: 660px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.target_container > .title {
    font-size: 18px;
    font-weight: bold;
}

.target {
    width: 400px;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid gray;
    position: relative;
    margin-top: 10px;
}

.LT {
    display: flex;
    flex-direction: column;

    position: absolute;
    gap: 5px;
    top: 5px;
    left: 5px;
}

.RT {
    display: flex;
    flex-direction: column;

    position: absolute;
    gap: 5px;
    left: calc(400px - 5.5rem - 10px);
    top: 5px;
}

.LB {
    display: flex;
    flex-direction: column;

    position: absolute;
    gap: 5px;
    top: calc(250px - 4rem - 15px);
    left: 5px;
}

.RB {
    display: flex;
    flex-direction: column;

    position: absolute;
    gap: 5px;
    left: calc(400px - 5.5rem - 10px);
    top:calc(250px - 4rem - 15px)
}

.center {
    display: flex;

    margin-top: 4rem;
    gap: 5px
}

.dot {
    width: 12px;
    height: 12px;

    position: absolute;
    background-color: red;
    border-radius: 50%;
}

.target_input {
    width: 5.5rem;
    height: 2rem;

    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.range {
    display: flex;
        
    margin-top: 10px;
}

.range > div {
    width: calc(16rem + 20px);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
}

.range > button {
    width: 4.5rem;
    height: 4.5rem;
    
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50%;
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
}

.range > button:hover {
    background-color: red;
}


.manual {
    width: 400px;

    display: flex;
    align-items: center;
}

.manual > div {
    width: calc(16rem + 20px);

    display: flex;
    flex-direction: column;
}

.manual_mode {
    width: 100%;
    height: 2rem;

    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
}

.manual_input {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
}

.manual_input > input {
    width: 8rem;
    height: 2.5rem;

    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.manual > button {
    width: 4.5rem;
    height: 4.5rem;
    
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50%;
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
}

.manual > button:hover {
    background-color: red;
}

