.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
}

.camera_container {
    width: 660px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid gray;
    border-radius: 10px;
}

.camera {
    border-radius: 10px;
}

.right {
    width: 660px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.manual {
    display: flex;
    flex-direction: column;
}

.manual_mode {
    width: calc(16rem + 10px);
    height: 1.5rem;

    padding: 0 5px;
}


.manual div {
    display: flex;
    align-items: center;

    gap: 10px;
}

.manual > div input {
    width: 8rem;
    height: 2rem;

    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

.manual > div button {
    width: 4rem;
    height: 4rem;

    background-color: blue;
    color: white;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.manual > div button:hover {
    background-color: red;
}